@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';


@theme {
  /* Font Family */
  --font-roboto: "Roboto Condensed", sans-serif; 

  /* Colors */
  --color-black-950: #030303FF;
  --color-black-900: #050505FF;
  --color-black-800: #0A0A0AFF;
  --color-black-700: #10100FFF;
  --color-black-600: #171717FF;
  --color-black-500: #1C1C1BFF;
  --color-black-400: #4B4B49FF;
  --color-black-300: #777773FF;
  --color-black-200: #A5A5A2FF;
  --color-black-100: #D2D2D0FF;
  --color-black-50: #E8E8E8FF;
  --color-neutral-950: #1A1A1AFF;
  --color-neutral-900: #303030FF;
  --color-neutral-800: #616161FF;
  --color-neutral-700: #949494FF;
  --color-neutral-600: #C4C4C4FF;
  --color-neutral-500: #F5F5F5FF;
  --color-neutral-400: #F7F7F7FF;
  --color-neutral-300: #FAFAFAFF;
  --color-neutral-200: #FAFAFAFF;
  --color-neutral-100: #FCFCFCFF;
  --color-neutral-50: #FFFFFFFF;
  --color-blue-950: #00080FFF;
  --color-blue-900: #010F1EFF;
  --color-blue-800: #031F3BFF;
  --color-blue-700: #032E59FF;
  --color-blue-600: #033D76FF;
  --color-blue-500: #054D94FF;
  --color-blue-400: #0870D9FF;
  --color-blue-300: #2F94F8FF;
  --color-blue-200: #75B8FAFF;
  --color-blue-100: #B9DBFDFF;
  --color-blue-50: #DCEDFEFF;

  /* Font Sizes */
  --text-display-headline1: clamp(3.750rem, 16vw, 14.375rem);
  --text-headline2: clamp(1.875rem, 5vw, 2.5rem);
  --text-headline3: clamp(1.250rem, 5vw, 1.875rem);
  --text-headline4: clamp(1.125rem, 4vw, 1.500rem);
  --text-body-s: clamp(0.625rem, 2vw, 0.850rem);
  --text-body: clamp(0.750rem, 2vw, 1rem);
  --text-body-xl: clamp(1.000rem, 2vw, 1.125rem);
  --text-button: clamp(0.75rem, 2vw, 1.125rem);
  --text-link: clamp(2.25rem, 5vw, 6.250rem);

  /* Border */
  --border-width-05: 0.5px;
  --border-width-1: 1px;

  /* Spacing */
  --spacing-4xs: 4px;
  --spacing-3xs: 8px;
  --spacing-2xs: 12px;
  --spacing-xs: 16px;
  --spacing-s: 20px;
  --spacing-sm: 26px;
  --spacing-m: 32px;
  --spacing-ml: 40px;
  --spacing-lg: 48px;
  --spacing-xl: 64px;
  --spacing-2xl: 80px;
  --spacing-3xl: 96px;
  --spacing-4xl: 112px;
  --spacing-5xl: 128px;
  --spacing-6xl: 160px;
  --spacing-7xl: 191px;
  --spacing-8xl: 320px;
  --spacing-9xl: 360px;
  --spacing-10xl: 424px;
}

@layer base {
}

@layer components{
    h1, h2, h3, h4 {
      font-family: var(--font-roboto);
      text-transform: uppercase;
      line-height: 1.2;
    }

    h1 {
      font-size: var(--text-display-headline1);
      font-weight: bold;
      color: var(--color-neutral-50);
      text-align: center;
    }

    h2 {
      font-size: var(--text-headline2);
      font-weight: bold;
      color: var(--color-black-500);
    }

    h3 {
      font-size: var(--text-headline3);
      font-weight: 600;
      color: var(--color-black-500);
    }

    h4 {
      font-size: var(--text-headline4);
      font-weight: 500;
      color: var(--color-black-500);
    }

    p {
      font-size: var(--text-body);
      font-family: var(--font-roboto);
      color: var(--color-black-500);
    }
}

@layer utilities{
}