---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
---

<MainLayout title="About Us">
  <section>
    <h1>About Us</h1>
  </section>
</MainLayout>
