---
import MainLayout from "../layouts/MainLayout.astro";
import HeroDisplay from "../components/HeroDisplay.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import about from "../../public/images/about_us.webp";
---

<MainLayout title="About Us">
  <HeroDisplay height="h-6xl sm:h-8xl" h1="About Us" />

  <!-- ABOUT SEKTION -->
  <section
    class="grid grid-cols-1 md:grid-cols-2 gap-m lg:gap-xl mx-s md:mx-m lg:mx-3xl my-lg sm:my-xl"
  >
    <div class="content-center">
      <h2 class="text-blue-500 mb-xs md:mb-sm">About Us</h2>
      <h3 class="mb-xs md:mb-sm">Born in Reykjavík. Loved Worldwide.</h3>
      <div class="flex flex-col gap-xs">
        <p>
          Tommi's Burger Joint started back in 2004 by burger legend Tómas
          Tómasson - aka Tommi - along with his sons and a couple of good
          friends. The first spot opened by the harbor in downtown Reykjavík,
          and the vibe caught on fast. No fuss, just quality burgers made right.
        </p>
        <p>
          Today, Tommi's has grown from that little joint in Iceland to a
          full-on family with locations in London, Berlin, Copenhagen and Rome -
          but the heart's still the same: good burgers, good people, and zero
          bullsh*t.
        </p>
      </div>
    </div>
    <Image
      src={about}
      alt="picture of tables and chairs"
      class="w-full h-full"
    />
  </section>

  <!-- MAP SEKTION -->
  <section class="bg-black-500">
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-m lg:gap-xl py-lg sm:py-m lg:py-3xl px-s md:px-m lg:px-3xl"
    >
      <div>
        <!-- Map -->
        <iframe
          class="w-full h-8xl md:h-full relative overflow-hidden z-10"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1879.102445887311!2d12.555926967154358!3d55.66837643802175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525311b33eedb7%3A0xb9e3acfe63e58e39!2sTommi's%20Burger%20Joint!5e0!3m2!1sda!2sdk!4v1747316616953!5m2!1sda!2sdk"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="flex flex-col gap-sm lg:gap-m sm:fadein">
        <div>
          <h2 class="text-neutral-50 mb-xs md:mb-sm">Find us in Kødbyen</h2>
          <h3 class="mb-4xs text-neutral-50">
            Burgers, Beers & GOOD Vibes in Vesterbro
          </h3>
          <p class="text-neutral-50">
            You'll find us in the heart of Kødbyen - right where the meatpacking
            magic happens. <br /> Swing by, grab a seat, and soak up the atmosphere.
          </p>
        </div>
        <div>
          <h3 class="mb-4xs text-neutral-50">Address</h3>
          <p class="text-neutral-50">Høkerboderne 21-23</p>
          <p class="text-neutral-50">1712 København V</p>
          <p class="text-neutral-50">+45 33 31 34 34</p>
        </div>
        <div>
          <h3 class="mb-4xs text-neutral-50">Opening Hours</h3>
          <p class="text-neutral-50">Mon-Thu: 11:00-21:00</p>
          <p class="text-neutral-50">Fri-Sat: 11:00-22:00</p>
          <p class="text-neutral-50">Sun: 11:00-21:00</p>
        </div>
      </div>
    </div>
  </section>
</MainLayout>

<script>
  // ANIMATIONER
  import { inView, animate } from "motion";

  //   InView animation
  const fadein = document.querySelector(".fadein");

  inView(fadein, () => {
    fadein.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__slow"
    );
  });
</script>
