---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import HeroDisplay from "../components/HeroDisplay.astro";
import { Image } from "astro:assets";
import madpapir from "/public/madpapir.webp";
---

<MainLayout title="Catering">
  <HeroDisplay height="h-8xl" h1="Catering" />
  <!-- CATERING SELECTIONS -->
  <section class="m-2xl flex flex-col gap-ml">
    <div class="flex flex-col gap-xs">
      <h2 class="text-blue-500">Catering the Tommi's Way</h2>
      <p>
        Whether you want to grab it yourself, have it dropped at your door, or
        let us handle the full setup - we make it easy to bring Tommi's to your
        event. <br /> Burgers, fries, sides, and good vibes - wherever you are.
      </p>
    </div>
    <div class="flex flex-col sm:flex-row gap-sm">
      <div class="outline-1 outline-blue-500">
        <Card
          href="/catering_pickup"
          cardimage="/src/assets/images/pickup.svg"
          cardimagealt="Blue illustration of an arm in a window with a Tommi's Burger Joint takeaway bag"
          h3="Pick-Up"
          h4="Grab and Go"
          body="Swing by, pick up your feast, and bring the Tommi's magic straight to your table. Quick, easy, and always delicious."
        />
      </div>
      <Card
        cardimage="/src/assets/images/delivery.svg"
        cardimagealt="Blue illustration of a delivery truck from Tommi's Burger Joint"
        h3="Delivery"
        h4="Straight to Your Door"
        body="Craving burgers but not the trip? We'll bring the goods to you - hot, juicy, and ready to eat."
      />
      <Card
        cardimage="/src/assets/images/setup.svg"
        cardimagealt="Blue illustration of a food tent setup from Tommi's Burger Joint"
        h3="Set-Up"
        h4="We'll Handle Everything"
        body="Throwing a party? We'll set it all up, so you can kick back and enjoy killer burgers without lifting a finger."
      />
    </div>
  </section>

  <!-- PICK UP FORM -->
  <section
    style="background-image: url(/public/madpapir.webp); background-size: cover; background-repeat: no-repeat;"
    class="p-6xl"
    id="form"
  >
    <h2>hello</h2>
  </section>
</MainLayout>
