---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import logo from "../../public/logo_blue.svg";
---

<MainLayout title="Catering">
  <section
    style="background-image: url(/madpapir.webp); background-size: cover; background-repeat: no-repeat;"
    class="p-ml md:p-2xl xl:p-6xl"
  >
    <div
      class="bg-neutral-50 p-sm md:p-xl xl:p-3xl flex flex-col lg:flex-row justify-between gap-ml"
    >
      <div class="flex flex-col gap-xs">
        <div class="flex flex-col gap-3xs">
          <h2 class="text-blue-500">We've got your order!</h2>
          <h4>Thanks for choosing Tommi's for your feast!</h4>
        </div>
        <p>
          We've received your catering order and are getting everything lined
          up. <br /> You'll get a confirmation email shortly with all the details.
          <br /> If you need to make any changes, just hit us up - we've got you.
        </p>
      </div>
      <Image
        src={logo}
        class="w-6xl md:w-7xl xl:w-8xl"
        alt="Tommi's Burger Joint logo"
      />
    </div>
  </section>
</MainLayout>
