---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import CateringCard from "../components/CateringCard.astro";
import HeroDisplay from "../components/HeroDisplay.astro";
import CateringForm from "../components/CateringForm.astro";
---

<MainLayout title="Pick Up">
  <HeroDisplay height="h-6xl sm:h-8xl" h1="Catering" />
  <!-- CATERING -->
  <section
    class="my-lg sm:my-xl flex flex-col gap-sm lg:gap-ml max-w-fit mx-auto px-s sm:px-xl"
  >
    <div class="flex flex-col gap-xs">
      <h2 class="text-blue-500">Catering the Tommi's Way</h2>
      <p>
        Whether you want to grab it yourself, have it dropped at your door, or
        let us handle the full setup - we make it easy to bring Tommi's to your
        event. <br /> Burgers, fries, sides, and good vibes - wherever you are.
      </p>
    </div>
    <!-- Catering cards -->
    <div class="flex flex-col items-center md:flex-row gap-s lg:gap-sm">
      <CateringCard
        href="#pickup"
        cardimage="/images/pickup.svg"
        cardimagealt="Blue illustration of an arm in a window with a Tommi's Burger Joint takeaway bag"
        h3="Pick-Up"
        h4="Grab and Go"
        body="Swing by, pick up your feast, and bring the Tommi's magic straight to your table. Quick, easy, and always delicious."
        active="true"
      />
      <CateringCard
        href="/catering_delivery#delivery"
        cardimage="/images/delivery.svg"
        cardimagealt="Blue illustration of a delivery truck from Tommi's Burger Joint"
        h3="Delivery"
        h4="Straight to Your Door"
        body="Craving burgers but not the trip? We'll bring the goods to you - hot, juicy, and ready to eat."
      />
      <CateringCard
        href="/catering_setup#setup"
        cardimage="/images/setup.svg"
        cardimagealt="Blue illustration of a food tent setup from Tommi's Burger Joint"
        h3="Set-Up"
        h4="We'll Handle Everything"
        body="Throwing a party? We'll set it all up, so you can lay back and enjoy killer burgers without lifting a finger."
      />
    </div>
  </section>

  <!-- PICK UP FORM -->
  <CateringForm id="pickup" h2="Order pick up" />
</MainLayout>
