---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Catering">
  <section>
    <h1>Catering</h1>
  </section>
</MainLayout>
