---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import HeroDisplay from "../components/HeroDisplay.astro";
import CateringCard from "../components/CateringCard.astro";
import InstaCard from "../components/InstaCard.astro";
import { Image } from "astro:assets";
import burgerstack from "../../public/images/burger_stack.webp";
import vinyl_img from "../../public/images/vinyl_img.webp";
import vinyl from "../../public/images/vinyl.webp";
---

<MainLayout
  title="Tommi's Burger Joint"
  description="Tommi's Burger Joint - serving Copenhagen's best burgers since 1981. Honest flavor, no gimmicks. Takeaway & catering done right."
>
  <HeroDisplay
    height="h-[calc(50vh-98px)] sm:h-[calc(100vh-98px)]"
    h1="BORN HUNGRY"
  />

  <!-- ABOUT TOMMI'S (BLACK SECTION) -->
  <section class="bg-black-500">
    <div class="grid md:grid-cols-2 gap-s lg:gap-xl p-m md:p-lg lg:p-3xl">
      <h2 class="text-neutral-50">
        WE ARE TOMMI'S BURGER JOINT<br class="hidden xl:block" />
        - REAL BURGERS, NO BULLSH*T
      </h2>
      <div class="max-w-[55ch]">
        <p class="text-neutral-50">
          Since 1981, Tommi's has been flipping honest, no-fuss burgers that hit
          just right. <br /> Fresh ingredients, juicy patties, old-school vibes -
          it's all about simple food done damn well. No gimmicks, no shortcuts -
          just the kind of burgers you crave. <br /> Come hungry, leave happy.
        </p>
      </div>
    </div>
  </section>

  <!-- ABOUT TOMMI'S (WHITE SECTION) -->
  <section class="grid md:grid-cols-2 gap-m lg:gap-xl p-m md:p-lg lg:p-3xl">
    <div class="content-center order-2 md:order-none fadein">
      <h2 class="text-blue-500 mb-xs md:mb-sm">
        No Reservations.<br />
        No Rules.<br />
        Just Burgers.
      </h2>
      <div class="flex flex-col gap-xs">
        <p>
          Our menu is all about juicy burgers, crispy fries, and cold drinks -
          nothing fancy, just damn good food made with love. No need to book a
          table - just roll up, grab a seat, and dig in.
        </p>
        <p>
          Want to stay in your sweatpants? We get it. Order takeaway and enjoy
          Tommi's from your couch. However you want it, we've got you.
        </p>
      </div>
      <div class="flex mt-s md:mt-m gap-xs">
        <Button href="/our_menu">OUR MENU</Button>
        <Button
          variant="secondary"
          target="_blank"
          href="https://tommisdk.heapsgo.com/en/dnk/restaurants/tbj-k-dbyen/"
          >ORDER TAKEAWAY</Button
        >
      </div>
    </div>
    <Image
      src={burgerstack}
      alt="3 stacked burgers from Tommis Burger Joint"
      class="w-full h-full object-cover overflow-hidden relative"
      loading="lazy"
    />
  </section>

  <!-- CATERING -->
  <section
    style="background-image: url(/madpapir.webp); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;"
    class="p-m lg:p-lg xl:p-4xl"
  >
    <div
      class="bg-neutral-50 p-sm md:p-m lg:p-ml xl:p-2xl flex flex-col gap-s md:gap-m w-fit items-center mx-auto max-w-max shadow-xl"
    >
      <h2 class="text-blue-500">Catering the Tommi's Way</h2>
      <div class="flex flex-col md:flex-row gap-s xl:gap-sm">
        <CateringCard
          href="/catering_pickup#pickup"
          label="Order pick up catering"
          cardimage="/images/pickup.svg"
          cardimagealt="Blue illustration of an arm in a window with a Tommi's Burger Joint takeaway bag"
          h3="Pick-Up"
          h4="Grab and Go"
          body="Swing by, pick up your feast, and bring the Tommi's magic straight to your table. Quick, easy, and always delicious."
          buttontext="ORDER PICK-UP"
        />
        <CateringCard
          href="/catering_delivery#delivery"
          label="Order delivery catering"
          cardimage="/images/delivery.svg"
          cardimagealt="Blue illustration of a delivery truck from Tommi's Burger Joint"
          h3="Delivery"
          h4="Straight to Your Door"
          body="Craving burgers but not the trip? We'll bring the goods to you - hot, juicy, and ready to eat."
          buttontext="ORDER DELIVERY"
        />
        <CateringCard
          href="/catering_setup#setup"
          label="Order set up catering"
          cardimage="/images/setup.svg"
          cardimagealt="Blue illustration of a food tent setup from Tommi's Burger Joint"
          h3="Set-Up"
          h4="We'll Handle Everything"
          body="Throwing a party? We'll set it all up, so you can lay back and enjoy killer burgers without lifting a finger."
          buttontext="ORDER SET-UP"
        />
      </div>
    </div>
  </section>

  <!-- SPOTIFY PLAYLISTE -->
  <section class="bg-black-500 flex flex-col items-center">
    <div class="p-m md:p-lg lg:p-3xl flex flex-col gap-s sm:gap-ml">
      <h2 class="text-neutral-50 text-center">
        Listen to the Sound of Tommi's
      </h2>
      <div class="flex relative left-[50%] sm:left-[35%] translate-x-[-50%]">
        <div class="relative w-full z-10">
          <iframe
            title="Tommi's Burger Joint's Spotify playlist"
            style="border-radius:12px"
            src="https://open.spotify.com/embed/playlist/2B3aAjgr3iQz30FJyfnaqp?utm_source=generator&theme=0"
            width="100%"
            height="452"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
          >
          </iframe>
          <Image
            src={vinyl_img}
            alt="Happy people eating and drinking outside of Tommi's Burger Joint"
            class="w-[114px] sm:w-[155px] rounded-lg absolute top-[16px] sm:top-[24px] left-[16px] sm:left-[22px] z-auto"
            loading="lazy"
          />
        </div>
        <div
          class="hidden sm:block absolute left-[350px] lg:left-[360px] w-[330px] lg:w-[420px] top-[50%] translate-y-[-50%] fadein2"
        >
          <Image src={vinyl} alt="Vinyl" class="rotate" loading="lazy" />
        </div>
      </div>
    </div>
  </section>

  <!-- INSTAGRAM -->
  <section
    class="flex flex-col gap-s sm:gap-ml items-center p-m md:p-lg lg:p-xl"
  >
    <h2>See What's Cooking on OUR INSTAGRAM</h2>
    <div class="grid grid-cols-2 sm:grid-cols-4 grid-rows-2 gap-2xs">
      <InstaCard
        cardimage="/images/insta_img1.webp"
        cardimagealt="Man from Tommi's Burger Joint doing rock 'n roll signs and sticks out his tongue"
        instalink="https://www.instagram.com/p/DJHRbOrMLc_/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
        instatext="Big thanks to everyone who came out to our catering showcase last Thursday!"
      />
      <InstaCard
        cardimage="/images/insta_img2.webp"
        cardimagealt="Burger from Tommi's Burger Joint placed on an empty table"
        instalink="https://www.instagram.com/p/DJBwvkKMvA6/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
        instatext="Our Bacon Cheeseburger is a timeless classic. What's your go-to burger?"
      />
      <InstaCard
        cardimage="/images/insta_img3.webp"
        cardimagealt="Wine being served in a wine glass in the air"
        instalink="https://www.instagram.com/p/DI4Fst1oPjk/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
        instatext="Wine is always fine on Fridays. See you at Tommi's on the sunny side."
      />
      <InstaCard
        cardimage="/images/insta_img4.webp"
        cardimagealt="Pickled cut out red onions"
        instalink="https://www.instagram.com/p/DIx3HA-hR3O/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
        instatext="Homemade just hits different."
      />
      <InstaCard
        cardimage="/images/insta_img5.webp"
        cardimagealt="Burger from Tommi's Burger Joint on the edge of a table"
        instalink="https://www.instagram.com/p/DIs35jftiTZ/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
        instatext="Last day of Easter break - don't waste it. We're open and hope to see you."
      />
      <InstaCard
        cardimage="/images/insta_img6.webp"
        cardimagealt="Ice cream sandwich from Tommi's Burger Joint"
        instalink="https://www.instagram.com/p/DIoa2vOxDlJ/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
        instatext="You might have tried our burger, but have you also tried our deep fried ice cream sandwich?"
      />
      <InstaCard
        cardimage="/images/insta_img7.webp"
        cardimagealt="Burger, fries, Coca Cola and a dip at Tommi's Burger Joint"
        instalink="https://www.instagram.com/p/DIikwTvtWoB/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
        instatext="After all the Easter treats, why not treat yourself to something even better?"
      />
      <InstaCard
        cardimage="/images/insta_img8.webp"
        cardimagealt="Man eating a burger outside at Tommi's Burger Joint"
        instalink="https://www.instagram.com/p/DIbYqaEtibI/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
        instatext="Easter's approaching, but we've got no time for egg hunting. Instead, we'll be flipping burgers all week long."
      />
    </div>
  </section>
</MainLayout>

<style>
  /* SPIN ANIMATION PÅ VINYL */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .rotate {
    animation: spin 5s linear infinite;
  }
</style>

<script>
  // ANIMATIONER
  import { inView, animate } from "motion";

  //   InView animation
  const fadein = document.querySelector(".fadein");

  inView(fadein, () => {
    fadein.classList.add(
      "animate__animated",
      "animate__fadeInRight",
      "animate__slow"
    );
  });

  const fadein2 = document.querySelector(".fadein2");

  inView(fadein2, () => {
    fadein2.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__slow"
    );
  });
</script>
