---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import TommiHero from "../assets/images/tommi_hero.webp";
import BurgerStack from "../assets/images/burger_stack.webp";
import madpapir from "../assets/images/madpapir.webp";
---

<MainLayout title="Tommi's Burger Joint">
  <section class="relative w-full h-screen">
    <Image
      src={TommiHero}
      alt="Picture of two hands holding af juicy burger from Tommis Burger Joint"
      class="absolute inset-0 w-full h-full object-cover"
    />
    <div class="absolute bottom-0 w-full flex justify-center">
      <h1>BORN HUNGRY</h1>
    </div>
  </section>

  <section class="bg-black-500">
    <div
      class="container mx-auto grid md:grid-cols-2 pt-5xl m-1xl gap-1xl pb-5xl"
    >
      <div>
        <h2 class="text-neutral-50">
          WELCOME TO TOMMI’S BURGER JOINT<br />
          – REAL BURGERS, NO BULLSH*T
        </h2>
      </div>
      <div class="max-w-[55ch]">
        <p class="text-neutral-50">
          Since 1981, Tommi’s has been flipping honest, no-fuss burgers that hit
          just right. Fresh ingredients, juicy patties, old-school vibes – it’s
          all about simple food done damn well. No gimmicks, no shortcuts – just
          the kind of burgers you crave. Come hungry, leave happy.
        </p>
      </div>
    </div>
  </section>

  <section class="grid grid-cols-2 gap-4xl m-5xl">
    <div class="content-center">
      <h2 class="text-blue-500 mb-sm">
        No Reservations.<br />
        No Rules.<br />
        Just Burgers.
      </h2>
      <p>
        Our menu is all about juicy burgers, crispy fries, and cold drinks –
        nothing fancy, just damn good food made with love. No need to book a
        table – just roll up, grab a seat, and dig in. <br />
        Want to stay in your sweatpants? We get it. Order takeaway and enjoy Tommi’s
        from your couch. However you want it, we’ve got you.
      </p>
    </div>
    <!-- BILLEDE -->
    <div class="">
      <Image
        src={BurgerStack}
        alt="3 stacked burgers from Tommis Burger Joint"
        class="w-full h-full"
      />
    </div>
  </section>
  <!-- ------------------------------ -->

  <!-- CATERING -->

  <section>
    <div class="h-screen w-full">
      <Image src={madpapir} alt="madpapir" class="object-cover" />
    </div>
  </section>
</MainLayout>
