---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import TommiHero from "../assets/images/tommi_hero.webp";
import BurgerStack from "../assets/images/burger_stack.webp";
import madpapir from "../assets/images/madpapir.webp";
import HeroDisplay from "../components/HeroDisplay.astro";
---

<MainLayout title="Tommi's Burger Joint">
  <HeroDisplay
    height="h-[calc(70vh-98px)] sm:h-[calc(100vh-98px)]"
    h1="BORN HUNGRY"
  />

  <section class="bg-black-500">
    <div class="gap-xl container mx-auto grid md:grid-cols-2 pt-5xl pb-5xl">
        <h2 class="text-neutral-50">
          WE ARE TOMMI’S BURGER JOINT<br />
          – REAL BURGERS, NO BULLSH*T
        </h2>
      <div class="max-w-[55ch]">
        <p class="text-neutral-50">
          Since 1981, Tommi’s has been flipping honest, no-fuss burgers that hit
          just right. Fresh ingredients, juicy patties, old-school vibes – it’s
          all about simple food done damn well. No gimmicks, no shortcuts – just
          the kind of burgers you crave. Come hungry, leave happy.
        </p>
      </div>
    </div>
  </section>
<!--- Mathilde arbejder ovenobver-->

  <section class="grid grid-cols-2 gap-4xl m-5xl">
    <div class="content-center">
      <h2 class="text-blue-500 mb-sm">
        No Reservations.<br />
        No Rules.<br />
        Just Burgers.
      </h2>
      <div class="flex flex-col gap-xs">
        <p>
          Our menu is all about juicy burgers, crispy fries, and cold drinks –
          nothing fancy, just damn good food made with love. No need to book a
          table – just roll up, grab a seat, and dig in.
        </p>
        <p>
          Want to stay in your sweatpants? We get it. Order takeaway and enjoy
          Tommi’s from your couch. However you want it, we’ve got you.
        </p>
      </div>
      <div class="flex mt-m gap-xs">
        <Button>OUR MENU</Button>
        <Button variant="secondary">ORDER NOW</Button>
      </div>
    </div>

    <div class="">
      <Image
        src={BurgerStack}
        alt="3 stacked burgers from Tommis Burger Joint"
        class="w-full h-full"
      />
    </div>
  </section>

  <!-- CATERING -->

  <section>
    <div class="h-screen w-full overflow-hidden">
      <Image src={madpapir} alt="madpapir" class="object-cover" />
    </div>
  </section>

  <!-- SPOTIFY PLAYLISTE -->

  <section class="bg-black-500">
    <section class="p-5xl">
      <h2 class="text-neutral-50">Listen to the Sound of Tommi’s</h2>
    </section>
  </section>
</MainLayout>
