---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Our Menu">
  <section>
    <h1>Our Menu</h1>
  </section>
</MainLayout>
