---
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import display from "../../public/images/footer_display.svg";
import facebook from "../../public/images/facebook.svg";
import instagram from "../../public/images/instagram.svg";
import mail from "../../public/images/mail.svg";
---

<div class="p-s lg:p-m sticky bottom-0 bg-neutral-50 mt-ml sm:mt-xl lg:mt-2xl">
  <!-- DISPLAY TEXT -->
  <Image
    src={display}
    class="w-full"
    alt="Big display text saying 'Born Hungry'"
  />

  <div
    class="flex flex-col sm:flex-wrap sm:flex-row sm:justify-between gap-sm mt-sm sm:mt-ml"
  >
    <!-- FIND US -->
    <div class="flex flex-col gap-2xs">
      <h3>Find us</h3>
      <div class="flex flex-col gap-3xs">
        <h4>Tommi's Burger Joint</h4>
        <div class="flex flex-col gap-4xs">
          <p>Høkerboderne 21–23</p>
          <p>1712 København V</p>
          <p>+45 33 31 34 34</p>
        </div>
      </div>
    </div>

    <!-- OPENING HOURS -->
    <div class="flex flex-col gap-2xs">
      <h3>Opening Hours</h3>
      <div class="flex flex-col gap-4xs">
        <p>Mon–Thu: 11:00–21:00</p>
        <p>Fri–Sat: 11:00–22:00</p>
        <p>Sun: 11:00–21:00</p>
      </div>
    </div>

    <!-- GENERAL -->
    <div class="flex flex-col gap-2xs">
      <h3>General</h3>
      <div class="flex flex-col gap-4xs">
        <Link variant="textLink" size="small" color="black" href="/our_menu"
          >Our Menu</Link
        >
        <Link variant="textLink" size="small" color="black" href="/catering"
          >Catering</Link
        >
        <Link variant="textLink" size="small" color="black" href="/about_us"
          >About Us</Link
        >
      </div>
    </div>

    <!-- CONTACT US -->
    <div class="flex flex-col gap-2xs">
      <h3>Contact Us</h3>
      <div class="flex flex-row items-center gap-3xs">
        <!-- Facebook -->
        <Link
          href="https://www.facebook.com/burgerjointdk/"
          variant="textLink"
          target="_blank"><Image src={facebook} alt="Facebook icon" /></Link
        >
        <!-- Instagram -->
        <Link
          href="https://www.instagram.com/tommisburgerjointdk/"
          variant="textLink"
          target="_blank"><Image src={instagram} alt="Instagram icon" /></Link
        >
        <!-- Mail -->
        <Link
          href="mailto:info@burgerjoint.dk"
          variant="textLink"
          target="_blank"><Image src={mail} alt="Mail icon" /></Link
        >
      </div>
    </div>

    <!-- SMILEY RAPPORT -->
    <div class="flex flex-col gap-2xs">
      <h3>Smiley Rapport</h3>
      <div class="flex flex-row items-center gap-3xs">
        <Link
          variant="textLink"
          size="small"
          color="black"
          target="_blank"
          href="https://www.findsmiley.dk/544944">Read our rapport here</Link
        >
      </div>
    </div>
  </div>
</div>
