---
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import logo from "/public/logo.svg";
---

<div x-data="{ showmenu: false }">
  <div class="flex justify-between py-s px-m bg-neutral-50">
    <!-- Logo -->
    <a class="self-center" href="/"
      ><Image src={logo} alt="Tommi's Burger Joint logo" /></a
    >
    <div class="flex gap-sm">
      <!-- CTA button -->
      <div class="self-center hidden sm:block"><Button>Order Now</Button></div>
      <!-- Burgermenu -->
      <button
        id="burgermenu"
        class="z-50 cursor-pointer xl:block object-contain w-[46px] h-[47px] sm:w-[57px] sm:h-[58px]"
        x-on:click="showmenu = ! showmenu"
      >
        <!-- Burger closed -->
        <svg
          class="sm:w-[58px] sm:h-[41px]"
          x-show="!showmenu"
          xmlns="http://www.w3.org/2000/svg"
          width="47"
          height="32"
          viewBox="0 0 58 41"
          fill="none"
        >
          <g clip-path="url(#clip0_651_12762)">
            <path
              d="M54.9183 28.1372H3.54724C2.85449 28.1372 2.69922 28.8622 2.69922 29.6705C2.69922 35.4712 4.69386 39.2987 29.9793 39.2987C55.2647 39.2987 55.7425 35.7684 55.6589 29.4685C55.6589 28.779 55.5155 28.1372 54.9183 28.1372Z"
              fill="white"
              stroke="#1C1C1B"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M4.55039 19.4124H54.0702C54.0702 19.4124 54.9779 19.4005 54.9779 21.6946C54.9779 23.9887 54.0702 24.0482 54.0702 24.0482H4.55039C4.55039 24.0482 3.37988 24.2265 3.37988 21.7303C3.37988 19.4124 4.55039 19.4124 4.55039 19.4124Z"
              fill="white"
              stroke="#1C1C1B"
              stroke-miterlimit="10"></path>
            <path
              d="M2.14985 24.0482H56.28C56.28 24.0482 57.2833 24.0363 57.2713 26.3304V26.4017C57.2713 27.6855 56.2083 28.6839 54.99 28.5651L53.1268 28.3868C52.2429 28.3036 51.3471 28.4462 50.523 28.8147C49.3047 29.3734 47.7639 30.1817 46.8562 30.3718C45.626 30.6333 44.3599 30.5501 43.1655 30.1817L39.9645 29.1713C39.0807 28.8979 38.1371 28.9573 37.3129 29.3734C37.1577 29.4566 37.0024 29.5279 36.8471 29.6111C36.1424 29.9677 35.3422 30.0509 34.5658 29.8845C33.5148 29.6586 31.8545 29.2902 30.8871 29.0762C30.3138 28.9454 29.7166 28.9692 29.1433 29.1237C28.1639 29.3971 26.7545 29.8726 25.6556 30.1579C24.8195 30.3837 23.9476 30.3124 23.1474 29.9677C22.2755 29.5992 21.0572 29.0881 20.2928 28.7553C19.7553 28.5294 19.17 28.3987 18.5848 28.3987C17.9517 28.3987 17.1873 28.4105 16.5424 28.4462C15.8974 28.4819 15.336 28.6126 14.7627 28.8266C13.7833 29.1951 12.2425 29.7656 12.2425 29.7656C10.9406 30.253 9.81789 30.1579 8.86237 29.6111C8.65932 29.4922 8.45628 29.3734 8.26517 29.2545C7.44104 28.7671 6.49746 28.5294 5.55389 28.5651L3.66674 28.9811C2.3529 29.2783 1.02712 28.3392 0.907677 26.9366C0.895733 26.7583 0.883789 26.5681 0.883789 26.366C0.883789 24.0482 2.1618 24.0482 2.1618 24.0482H2.14985Z"
              fill="white"
              stroke="#1C1C1B"
              stroke-miterlimit="10"></path>
            <path
              d="M2.75876 19.4124H55.2884C55.9931 19.4124 56.4589 18.5922 56.1484 17.8671C54.2971 13.5047 47.477 1.39226 29.1072 1.59433C10.7373 1.79641 3.75011 13.9683 1.99435 18.0692C1.73158 18.6873 2.13767 19.4124 2.75876 19.4124Z"
              fill="white"
              stroke="#1C1C1B"
              stroke-width="2"
              stroke-miterlimit="10"></path>
          </g>
          <defs>
            <clipPath id="clip0_651_12762">
              <rect width="58" height="41" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>

        <!-- Burger open -->
        <svg
          class="sm:w-[57px] sm:h-[58px]"
          x-show="showmenu"
          xmlns="http://www.w3.org/2000/svg"
          width="46"
          height="47"
          viewBox="0 0 57 58"
          fill="none"
        >
          <path
            d="M53.9258 41.2078H3.47156C2.79117 41.2078 2.63867 41.9318 2.63867 42.7388C2.63867 48.5304 4.59772 52.3519 29.4318 52.3519C54.266 52.3519 54.7352 48.8271 54.6531 42.537C54.6531 41.8487 54.5123 41.2078 53.9258 41.2078Z"
            fill="white"
            stroke="#1C1C1B"
            stroke-width="2"
            stroke-miterlimit="10"></path>
          <path
            d="M4.45724 24.6746H53.0932C53.0932 24.6746 53.9847 24.6628 53.9847 26.9533C53.9847 29.2438 53.0932 29.3032 53.0932 29.3032H4.45724C4.45724 29.3032 3.30762 29.4812 3.30762 26.9889C3.30762 24.6746 4.45724 24.6746 4.45724 24.6746Z"
            fill="white"
            stroke="#1C1C1B"
            stroke-miterlimit="10"></path>
          <path
            d="M2.09942 29.3032H55.2634C55.2634 29.3032 56.2488 29.2913 56.2371 31.5818V31.653C56.2371 32.9348 55.1931 33.9317 53.9965 33.813L52.1665 33.635C51.2984 33.5519 50.4186 33.6943 49.6092 34.0622C48.4127 34.62 46.8994 35.4271 46.0078 35.617C44.7996 35.8781 43.5561 35.795 42.383 35.4271L39.2392 34.4183C38.3711 34.1453 37.4443 34.2047 36.6349 34.62C36.4824 34.7031 36.3299 34.7743 36.1774 34.8574C35.4853 35.2134 34.6993 35.2965 33.9368 35.1304C32.9045 34.9049 31.2739 34.537 30.3237 34.3233C29.7607 34.1928 29.1741 34.2165 28.611 34.3708C27.6491 34.6438 26.2649 35.1185 25.1857 35.4033C24.3645 35.6288 23.5081 35.5576 22.7222 35.2134C21.8658 34.8455 20.6693 34.3352 19.9185 34.0029C19.3906 33.7774 18.8158 33.6469 18.241 33.6469C17.6193 33.6469 16.8685 33.6587 16.235 33.6943C15.6016 33.7299 15.0502 33.8605 14.4872 34.0741C13.5252 34.442 12.012 35.0117 12.012 35.0117C10.7333 35.4983 9.6306 35.4033 8.69214 34.8574C8.49271 34.7387 8.29329 34.62 8.1056 34.5014C7.29617 34.0148 6.36944 33.7774 5.4427 33.813L3.58924 34.2284C2.29885 34.5251 0.996727 33.5875 0.879419 32.1871C0.867688 32.0091 0.855957 31.8192 0.855957 31.6174C0.855957 29.3032 2.11115 29.3032 2.11115 29.3032H2.09942Z"
            fill="white"
            stroke="#1C1C1B"
            stroke-miterlimit="10"></path>
          <path
            d="M2.68604 19.2721H54.2781C54.9703 19.2721 55.4278 18.4532 55.1228 17.7293C53.3045 13.3737 46.6062 1.28019 28.5642 1.48195C10.5222 1.6837 3.6597 13.8366 1.947 17.9429C1.68892 18.56 2.08777 19.284 2.69777 19.284L2.68604 19.2721Z"
            fill="white"
            stroke="#1C1C1B"
            stroke-width="2"
            stroke-miterlimit="10"></path>
        </svg>
      </button>
    </div>
  </div>
  <!-- Navigation -->
  <nav
    id="navmenu"
    class="xl:block flex flex-col bg-neutral-50 h-[calc(100vh-96px)] w-full mt-xl sm:mt-2xl items-center"
    x-show="showmenu"
    x-transition
    x-on:click="showmenu = false"
  >
    <div class="flex flex-col gap-xs">
      <div class="flex flex-col gap-4xs sm:gap-2xs items-center">
        <Link href="/">Home</Link>
        <Link href="/our_menu">Our Menu</Link>
        <Link href="/catering">Catering</Link>
        <Link href="/about_us">About Us</Link>
      </div>
      <!-- CTA button -->
      <div class="self-center block sm:hidden"><Button>Order Now</Button></div>
    </div>
  </nav>
</div>
