---
// Henter parametrene fra Astro.props
const { height = "", h1 = "" } = Astro.props;
---

<div
  class="relative overflow-hidden z-30 flex lazyload"
  class:list={height}
  style="background-image: url(/images/tommi_hero.webp); background-repeat: no-repeat; background-size: cover; background-position: center 42%; background-color: #1C1C1BFF;"
>
  <h1 class="w-full self-end leading-[0.68] slideup">
    {h1}
  </h1>
</div>

<script>
  // ANIMATIONER
  import { inView, animate } from "motion";

  //   InView animation
  const slideup = document.querySelector(".slideup");

  inView(slideup, () => {
    slideup.classList.add("animate__animated", "animate__slideInUp");
  });
</script>
