---
// Henter parametrene fra Astro.props
const {
  href = "#",
  target = "_self",
  variant = "menuLink",
  size = "standard",
  color = "blue",
} = Astro.props;

const linkStyling = "";

const variantClasses = {
  menuLink: "uppercase",
  textLink: "normal-case",
};

const sizeClasses = {
  standard: "font-roboto text-link font-semibold hover:text-[#054D9499]",
  small: "text-link_s hover:font-regular",
  xsmall: "text-body_s md:text-body_lg hover:font-regular",
};

const colorClasses = {
  blue: "text-blue-500",
  black: "text-black-500",
};
---

<a
  href={href}
  target={target}
  class:list={[
    linkStyling,
    variantClasses[variant],
    sizeClasses[size],
    colorClasses[color],
  ]}
>
  <slot />
</a>
